.product-hover {
  position: absolute;
  top: 10px;
  left: auto;
  right: 0;
  z-index: 2;
  opacity: 0;
  transition: all .5s ease 0s;

  .product-hover-item {
    display: block;
    cursor: pointer;
    width: 38px;
    height: 38px;
    padding: 0.6rem;
    border-radius: 50%;
    border-style: solid;
    margin-bottom: 7px;
    box-shadow: 0 0 9px #5552;
  }
}