.navigation-menu {
  list-style-type: none;
  padding: 0;

  li {
    padding: 10px;
    position: relative;

    &:hover {
      ul {
        display: block;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 5px;
      display: none;
      position: absolute;
      left: 100%;
      top: 0;

      li {
        padding: 5px;
        margin-left: 15px;
      }
    }
  }
}
