.product-image {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &:last-of-type {
      opacity: 0;
    }
  }

  &:hover {
    img {
      &:first-child:not(:only-child) {
        opacity: 0;

        &+img {
          opacity: 1;
        }
      }

      &:last-child:not(:only-child) {
        opacity: 1;
        transition: all 1.3s ease 0s;
        transform: translateZ(0);
      }
    }
  }
}