.feature {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .feature-icon {
    margin-right: 15px;
    font-size: 2em; /* Adjust the icon size as needed */
  }

  .feature-content {
    h2 {
      font-size: 1.5em;
      margin-bottom: 5px;
    }

    p {
      font-size: 1em;
      color: #777;
    }
  }
}
