.top-header {
  height: var(--top-header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--th-column-gap-sm);
  background: var(--th-background-color-dark);
  transition: var(--th-transition-all);
  padding: var(--responsive-container-padding);

  .top-header-left {
    display: inline-flex;
    gap: var(--th-column-gap-xxl);

    a {
      gap: 0.5rem;
      position: relative;
      color: var(--color-white);

      span {
        color: inherit;
      }
    }
  }

  .top-header-center {
    color: var(--color-white);
    display: flex;
    column-gap: 0.5rem;
    align-items: center;

    span {
      color: var(--color-white);
    }

    a {
      color: var(--th-text-accent-1);
      text-decoration: underline;
    }

  }

  .top-header-right {
    display: flex;

  }
}